@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#c8d8d7, #979e9d);
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
}
